nav {
    width: 100%;
    padding: 0px;
    align-self: flex-start;
    position: -webkit-sticky;
    position: sticky;
    top: 0; 
    z-index: 1001;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    display: flex;
    top: 0;
    width: 100%;
}

body.default ul.topnav {
    background-color: #0f1161;
}

body.tools ul.topnav {
    background-color: #9e2515;
}

body.fun ul.topnav {
    background-color: #48c477;
}

body.empty ul.topnav {
    background-color: #000000;
}

ul.topnav .right {
    position:absolute;
    right: 0;
}
  
ul.topnav li {
    float: left;
}

ul.topnav li a, .dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
body.default ul.topnav li a:hover:not(.active), body.default .dropdown:hover .dropbtn, body.default .dropdown2:hover .dropbtn2 {
    background-color: #050633;
}

body.tools ul.topnav li a:hover:not(.active), body.tools .dropdown:hover .dropbtn, body.tools .dropdown2:hover .dropbtn2 {
    background-color: #75200b;
}

body.fun ul.topnav li a:hover:not(.active), body.fun .dropdown:hover .dropbtn, body.fun .dropdown2:hover .dropbtn2 {
    background-color: #287044;
}

body.empty ul.topnav li a:hover:not(.active), body.fun .dropdown:hover .dropbtn, body.fun .dropdown2:hover .dropbtn2 {
    background-color: #505050;
}

.dropdown, .dropdown2 {
  display: inline-block;
}

.dropdown-content, .dropdown-content2 {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

body.default .dropdown-content, body.default .dropdown-content2 {
    background-color: #0f1161;
}

body.tools .dropdown-content, body.tools .dropdown-content2 {
    background-color: #75200b;
}

body.fun .dropdown-content, body.fun .dropdown-content2 {
    background-color: #48c477;
}

body.empty .dropdown-content, body.empty .dropdown-content2 {
    background-color: #000000;
}


.dropdown-content a, .dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover:not(.active), .dropdown-content2 a:hover:not(.active) {
    background-color: #050633;
}

.dropdown:hover .dropdown-content, .dropdown2:hover .dropdown-content2 {
  display: block;
}

body.default .active {
    background-color: #8fb7f3;
}

body.tools .active {
    background-color: #f3c48f;
}

body.fun .active {
    background-color: #a4e7c8;
}

body.empty .active {
    background-color: #272727;
}

.title {
    text-align: center; 
    font-size:64px; 
    font-family: 'Courier Prime', 'Courier New', Courier, monospace;
}

.title, .gradient {
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

body.default .title {
    background-color: #8a78f3;
    background-image: linear-gradient(180deg, #83b7f1, #5f30aa);
    color: #8a78f3;
    -webkit-text-stroke: 0.1px rgb(71, 40, 122);
}

body.tools .title {
    background-color: #f3a978;
    background-image: linear-gradient(180deg, #f1c183, #aa3430);
    color: #f3a978;
    -webkit-text-stroke: 0.1px rgb(122, 56, 40);
}

body.fun .title {
    background-color: #78f3af;
    background-image: linear-gradient(180deg, #83f18c, #7bc09e);
    color: #7cc79d;
    -webkit-text-stroke: 0.1px rgb(122, 56, 40);
}

body.empty .title {
    background-color: #000000;
    color: #000000;
    -webkit-text-stroke: 0.1px rgb(0, 0, 0);
}

.outline {
    -webkit-text-stroke: 0.1px #00000046;
}

body {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body.default {
    background-image: linear-gradient(#accadb, #a88ccc); 
}

body.tools {
    background-image: linear-gradient(#f0cea1, #e0817a); 
}

body.fun {
    background-image: linear-gradient(#c6ecc9, #9de6cb); 
}

body.empty {
    background-color: #ffffff;
}

#page-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
}
  
#content-wrap {
    padding-bottom: 10%;    /* Footer height */
}
  
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5%;          /* Footer height */
    font-family: 'Urbanist', sans-serif;
    text-align: center;
}

.newslist {
    text-align: center;
}
  
.newslist ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
.newslist ul li {
    margin: 0;
    padding: 0;
}

.timers, .countdowns {
    font-family: 'Courier Prime', 'Courier New', Courier, monospace;
}

#map { 
    height: 512px; 
}

.judgements {
    color: rgb(0, 0, 0);
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.collapsible {
    color: rgb(0, 0, 0);
    background-color:#85ffb4;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 95%;
}